{% extends 'base.html'%}


{% block content %}

<div class="jumbotron">
        <h1 class="display-4">Welcome to Crypto News</h1>
        <p class="lead">Just get lots of news in the pin touch . Stay Tuned for news</p>
        
        
      </div>



<!-- <br><strong>Name:</strong>{{key}}<br/>
<strong>Price:</strong> {{value.USD.PRICE}} <br/>
<strong>Daily High :</strong>{{value.USD.HIGHDAY}}<br/>
<strong>Daily Low:</strong>{{value.USD.LOWDAY}}<br/>
<strong>MarketCap</strong>{{value.USD.MKTCAP}}<br/> -->



<table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">24 High</th>
            <th scope="col">24 Low</th>
            <th scope="col">Market Cap</th>
          </tr>
        </thead>
        <tbody>
          <tr>
{% for key,value in price.DISPLAY.items %}
            <td>{{key}}</td>
            <td>{{value.USD.PRICE}}</td>
            <td>{{value.USD.HIGHDAY}}</td>
            <td>{{value.USD.LOWDAY}}</td>
            <td>{{value.USD.MKTCAP}}</td>
          </tr>
        
{% endfor %}
        </tbody>
      </table>




<br><br/>







<div class="container">
    <div class="row">
            {% for x  in api.Data  %}
            <div class = "col-sm">

            <div class="card" style="width: 18rem;">
                    <img src="{{x.imageurl}}" class="card-img-top" alt="{{x.source}}">
                    <div class="card-body">
                    <h5 class="card-title">{{x.title}}</h5>
                    <p class="card-text">{{x.body}}</p>
                    <a href="{{x.url}}" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </br>

            </div>
                {% endfor %}
      </div>
</div>








    
{% endblock content %}
    
