{% extends 'base.html'%}

{% block content %}

{%if notfound%}

    {{notfound}}

{%else%}
    {%if crypto.Response%}
    Sorry that symbol doesnot exist.
    {%endif%}

    {% for key,value in crypto.DISPLAY.items %}
    <div class="jumbotron">
        <h1 class="display-4">{{key}}</h1>
        <br><strong>Name:</strong>{{key}}<br/>
        <strong>Price:</strong> {{value.USD.PRICE}} <br/>
        <strong>Daily High :</strong>{{value.USD.HIGHDAY}}<br/>
        <strong>Daily Low:</strong>{{value.USD.LOWDAY}}<br/>
        <strong>MarketCap</strong>{{value.USD.MKTCAP}}<br/>
        
        
      </div>




{%endfor%}
{%endif%}




    
{% endblock content %}
    